html{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}